{% extends '../../layouts/admin.njk' %}

{% block css %}

{% endblock %}

{% block content %}

<html><head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<table  class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth   "  >
  <thead>
    <tr>
    <th>تفعيل المستخدم</th>
    <th>الوظيفة </th>
    <th>البريد الالكتروني</th>
    <th>رقم الهاتف</th>
    <th>الاسم</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>نعم</td>
      <td>محتاج</td>
      <td>ahmed@gmail.com</td>
      <td>05254841</td>
      <td>احمد</td>
    </tr>
    <tr>
      <td>نعم</td>
      <td>جمعية</td>
      <td>souboullkheir@gmail.com</td>
      <td>0214258</td>
      <td>سبل الخير</td>
    </tr>
  </tbody>
</table>
</body>
</html>
{% endblock %}
