{% extends '../../layouts/admin.njk' %}

{% block css %}

{% endblock %}

{% block content %}
<h1 class="title is-3">كل المستخدمين</h1>
<div class="table-container">
  <table class="table is-fullwidth"  >
    <thead>
      <tr>
        <th>الاسم</th>
        <th>رقم الهاتف</th>
        <th>البريد الالكتروني</th>
        <th>الوظيفة </th>
        <th>مفعل</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td>احمد</td>
        <td>05254841</td>
        <td>ahmed@gmail.com</td>
        <td>محتاج</td>
        <td>نعم</td>
        <td><button class="button is-info is-light">تحديث</button></td>
        <td><button class="button is-danger is-light">حذف</button></td>
      </tr>
      <tr>
        <td>سبل الخير</td>
        <td>0214258</td>
        <td>souboullkheir@gmail.com</td>
        <td>جمعية</td>
        <td>نعم</td>
        <td><button class="button is-info is-light">تحديث</button></td>
        <td><button class="button is-danger is-light">حذف</button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
