
<footer class="shadow py-4">
	<div class="container">
	<div class="row border-bottoms my-3">
		<div class="col col-4"></div>
	</div>
	<div
		class="
		d-block d-md-flex
		justify-content-between
		align-items-center
		text-center
		"
	>
		<p class="medium mb-2 mb-md-0 mb-md-0">
		وقف<i class="far fa-copyright small px-1"></i>2021 جميع الحقوق
		محفوظة
		</p>
		<p class="medium mb-0">
		Made with<i class="fas fa-heart text-danger px-1"></i>&amp;<i
			class="fas fa-coffee text-secondary px-1"
		></i
		>by
		<a
			href="https://www.fb.com/groups/wakfdz"
			target="_blank"
			class="text-success ml-1"
			>Waqf Comunity</a
		>
		</p>
	</div>
	</div>
</footer>

<!-- Scroll To top -->
<div class="d-block fixed-bottom left-0 mb-10 mb-lg-3" id="scrollTop">
	<div class="d-lg-none mb-2">
	<a
		href="https://wakf.dz/apps/android/wakfdz.apk"
		class="btn btn-icon px-4 rounded-left-pill btn-success-f text-white"
	>
		<i class="fab fa-android"></i>
	</a>
	</div>
	<a
	href="#top"
	class="btn btn-icon px-4 rounded-left-pill btn-success-f text-white"
	>
	<i class="fas fa-chevron-up"></i>
	</a>
</div>
