<footer class="footer">
	<div class="row">
		<a href="#" class="is-size-3"><ion-icon class="facebook" name="logo-facebook"></ion-icon></i></a>
		<a href="#" class="is-size-3 mx-6"><ion-icon class="instagram" name="logo-instagram"></ion-icon></i></a>
		<a href="#" class="is-size-3"><ion-icon class="twitter" name="logo-twitter"></ion-icon></i></a>
	</div>

	<div class="row">
		<ul>
			<li><a class="is-size-6" href="#">الرئيسية</a></li>
			<li><a class="is-size-6" href="#">الحساب</a></li>
			<li><a class="is-size-6" href="#">حول المشروع</a></li>
			<li><a class="is-size-6" href="#">إتصل بنا</a></li>
			<li><a class="is-size-6" href="#">إنضم إلينا</a></li>
		</ul>
	</div>

	<div class="row is-size-6 has-text-white">
		وقف | كل الحقوق محفوظة &copy; 2021 | إتفاقية الإستخدام | الموقع مطور بكل &#10084;&#65039; في &#127465;&#127487; من طرف شباب محسنين
	</div>
</footer>