<div class="sticky-top bg-white shadow-soft py-3 d-nonse d-lg-flex">
  <div class="
    container
    d-flex
    justify-content-between
    align-items-center
    px-3"
  >
    <div class="d-flex d-lg-none justify-content-between">
      <a href="/" class="media logo">
        <img src="/img/logo/logo_dark.png" class="u-sm-avatar" alt="logo"/>
      </a>
    </div>
    <div class="d-flex">
      <ul class="nav nav-lg d-none d-lg-flex align-items-center">
        <li>
          <a href="/" class="media logo">
            <img src="/img/logo/logo_dark.png" class="u-sm-avatar" alt="logo"/>
          </a>
        </li>
        {% if authenticatedUser %}
          <li>
            <div class="dropdown">
              <a
                class="btn font-weight-semi-bold text-lh-sm p-0"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                خدمات<i class="far fa-chevron-down pr-2 small"></i>
              </a>
              <div class="
                	dropdown-menu dropdown-menu-right
                	text-right
                	mt-5
                	shadow-lg
                " aria-labelledby="dropdownMenuLink">
                  <a
                    class="dropdown-item font-weight-semi-bold"
                    href="/dashboard">
                    إحصائيات
                  </a>
                  <div class="dropdown-divider"></div>
                {% if authenticatedUser.isSeekingHelp %}
                  <a class="dropdown-item font-weight-semi-bold" href="/orders/new">
                    إنشاء طلب جديد
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item font-weight-semi-bold" href="/orders">
                    عرض الطلبات
                  </a>
                {% elif authenticatedUser.isGivingHelp %}
                  <a class="dropdown-item font-weight-semi-bold" href="/products/new">
                    إنشاء وقف جديد
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item font-weight-semi-bold" href="/products">
                    عرض الأوقاف
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item font-weight-semi-bold" href="/orders">
                    عرض الطلبات
                  </a>
                {% elif authenticatedUser.isAdmin %}
                  <a class="dropdown-item font-weight-semi-bold" href="/users">
                    عرض المستخدمين
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item font-weight-semi-bold" href="/orders">
                    عرض الطلبات
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item font-weight-semi-bold" href="/products">
                    عرض الأوقاف
                  </a>
                {% endif %}
              </div>
            </div>
          </li>
        {% endif %}
        <li>
          <a href="/" class="active">الرئيسية</a>
        </li>
        <li>
          <a href="https://www.facebook.com/wakfdz" target="_blank">تواصل معنا</a>
        </li>
      </ul>
    </div>
    {% if authenticatedUser %}
      <!-- notifications -->
      <div class="d-none d-lg-flex my-auto">
        {# account dropdown #}
          <div class="dropdown"> <button
            class="btn p-0"
            type="button"
            id="dropdownMenuAccount"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            <div class="u-md-avatar bg-cover rounded-circle" style="background: url('/img/users/01.png')"></div>
          </button>
          <div
            class=" dropdown-menu dropdown-menu-left dropdown-wide menu-toggle py-0 mt-4 shadow-lg "
            aria-labelledby="userAction">
            <div class="dropdown-item py-3">
              <div class="media">
                <div class="u-avatar rounded-circle bg-cover ml-2" style="background: url('/img/users/01.png')"></div>
                <div class="media-body my-auto text-right">
                  <h6 class="font-size-2 mb-0">{{ authenticatedUser.displayName }}</h6>
                  <p class="medium text-reset mb-0">{{ authenticatedUser.role }}</p>
                </div>
              </div>
            </div>
            <div class="row gx-0 text-center">
              <div class="col-6">
                <a class=" dropdown-item font-size-2 font-weight-normal py-4 border-top border-left " href="/settings">
                  <i class="fad fa-user-gear pl-2"></i>إعدادات
                </a>
              </div>
              <div class="col-6">
                <a
                  class=" dropdown-item font-size-2 font-weight-normal py-4 border-top "
                  href="/signout">
                  <i class="fad fa-sign-out-alt pl-2"></i>خروج
                </a>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="d-flex align-items-center">
          <a href="/signin" class="btn btn-sm btn-outline-dark py-2">
            دخول
          </a>
          <a href="/signup" class="btn btn-sm btn-success-g text-white py-2 mr-2">
            حساب جديد
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{# sm navigation #}
{% if authenticatedUser %}
  <div class="
    	fixed-bottom
    	d-flex d-lg-none
    	bg-white
    	shadow-lg
    	pb-2
    	pt-3
    	z-index-20
    " id="nav-sm">
    <div
      class="
        	nav
        	container
        	d-flex d-lg-none
        	justify-content-between
        	align-items-center
        	px-2
        ">
      <!-- Profile -->
      <div class="dropdown">
        <button
          class="btn btn-lg py-0"
          type="button"
          id="dropdownMenuAccount"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <i class="far fa-user-circle"></i>
        </button>
        <div class="dropdown-menu dropdown-wide py-0 mb-4 shadow-lg" aria-labelledby="userAction">
          <div class="dropdown-item py-3">
            <div class="media">
              <div class="u-avatar rounded-circle bg-cover ml-2" style="background: url('/img/users/01.png')"></div>
              <div class="media-body my-auto text-right">
                <h6 class="font-size-2 mb-0">{{ authenticatedUser.displayName }}</h6>
                <p class="font-weight-semi-bold medium mb-0">{{ authenticatedUser.role }}</p>
              </div>
            </div>
          </div>
          <div class="row gx-0 text-center">
            <div class="col-6">
              <a class=" dropdown-item font-size-2 font-weight-normal py-4 border-y settings " href="/settings">
                <i class="fad fa-sliders pl-2"></i>إعدادات
              </a>
            </div>
            <div class="col-6">
              <a class="dropdown-item font-size-2 font-weight-normal py-4" href="/signout">
                <i class="fad fa-sign-out-alt pl-2"></i>خروج
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- New -->
      <div class="dropdown">
        <button
          class="btn btn-lg py-0"
          type="button"
          id="dropdownNewHelp"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <i class="far fa-plus-circle"></i>
        </button>
        <div
          class="dropdown-menu dropdown-wide text-right mb-7 shadow-lg"
          aria-labelledby="dropdownMenuLink"
        >
          <a
            class="dropdown-item font-weight-semi-bold"
            href="/dashboard">
            إحصائيات
          </a>
          <div class="dropdown-divider"></div>
          {% if authenticatedUser.isSeekingHelp %}
            <a
              class="dropdown-item font-weight-semi-bold"
              href="/orders/new"
            >
              إنشاء طلب جديد
            </a>
            <div class="dropdown-divider"></div>
          {% elif authenticatedUser.isSeekingHelp %}
            <a
              class="dropdown-item font-weight-semi-bold"
              href="/products/new"
            >
              إنشاء وقف جديد
            </a>
            <div class="dropdown-divider"></div>
          {% endif %}

          <a
            class="dropdown-item font-weight-semi-bold"
            href="//orders">
            عرض الطلبات
          </a>

          {% if authenticatedUser.isAdmin or authenticatedUser.isGivingHelp %}
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item font-weight-semi-bold"
            href="//products">
            عرض الأوقاف
          </a>
          {% endif %}
          
          {% if authenticatedUser.isAdmin %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item font-weight-semi-bold" href="/users">
            عرض المستخدمين
          </a>
          {% endif %}
        </div>
      </div>
      <!-- Home -->
      <a href="/dashboard" class="btn btn-lg py-0">
        <i class="far fa-house"></i>
      </a>
    </div>
  </div>
{% endif %}