<header>
	<nav class="navbar" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <a class="navbar-item" href="/">
	      <img src="/img/logo.png">
	    </a>

	    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>

	  <div id="navbarBasicExample" class="navbar-menu">
	    <div class="navbar-start">
	      <a href="/" class="navbar-item">
	        الرئيسية
	      </a>

	      <a href="/admin" class="navbar-item">
	        إدارة الموقع
	      </a>

	      <a href="/profile" class="navbar-item">
	        الحساب
	      </a>

	      <a href="/about" class="navbar-item">
	        حول المشروع
	      </a>

		  <a href="/contact" class="navbar-item">
	        تواصل معنا
	      </a>

	      <div class="navbar-item has-dropdown is-hoverable">
	        <a class="navbar-link">
	          قائمة منسدلة
	        </a>

	        <div class="navbar-dropdown">
	          <a class="navbar-item">
	            إتصل بنا
	          </a>
	          <a class="navbar-item">
	            ساهم معنا
	          </a>
	          <a class="navbar-item">
	            تبرع
	          </a>
	          <hr class="navbar-divider">
	          <a class="navbar-item">
	            إنضم لفريق العمل
	          </a>
	        </div>
	      </div>
	    </div>

			{% if authenticatedUser %}
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<a href="/signout" class="button is-light">
								خروج
							</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							<a href="/signup" class="button is-primary">
								تسجيل حساب جديد
							</a>
							<a href="/signin" class="button is-light">
								تسجيل الدخول
							</a>
						</div>
					</div>
				</div>
			{% endif %}
	  </div>
	</nav>
</header>






