{% extends '../../layouts/admin.njk' %}

{% block css %}

{% endblock %}

{% block content %}

  <h1 class="title is-4">كل الطلبات</h1>

  {% set orders = data.orders %}

  <section class="section">
  {% if orders.length %}
    <div class="table-container">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>إسم المريض</th>
            <th>عمر المريض</th>
            <th>تركيز الأكسجين</th>
            <th>هل لدى المريض أمراض مزمنة؟</th>
            <th>هل المريض مصاب بفيروس كورونا؟</th>
            <th>الوصفة الطبية</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.patientName }}</td>
            <td>{{ order.patientAge }}</td>
            <td>{{ order.oxygenRatio }}</td>
            <td>{{ order.hasChronicDesease }}</td>
            <td>{{ order.isCovid }}</td>
            <td><a href="{{ order.prescriptionUrl }}">رابط الوصفة</a></td>
            <td><button class="button is-info is-light">تحديث</button></td>
            <td><button class="button is-danger is-light">حذف</button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="">
      <figure class="image">
        {# <img src="/img/noFile.gif"> #}
      </figure>
    </div>
  {% endif %}
  </section>

{% endblock %}
