{% extends '../../layouts/admin.njk' %}

{% block css %}

{% endblock %}

{% block content %}

  <h1 class="title is-4">كل الطلبات</h1>

  {% set orders = data.orders %}

  <section class="section">
  {% if orders.length %}
    <div class="table-container">
      <table class="table is-fullwidth is-hoverable">
        <thead>
          <tr>
            <th>إسم المريض</th>
            <th>العمر</th>
            <th>الأكسجين</th>
            <th>أمراض مزمنة؟</th>
            <th>كورونا؟</th>
            <th>الوصفة</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.patientName }}</td>
            <td>{{ order.patientAge }}</td>
            <td>{{ order.oxygenRatio }}</td>
            {% if order.hasChronicDesease %}
              <td>نعم</td>
            {% else %}
              <td>لا</td>
            {% endif %}
            {% if order.isCovid%}
              <td>نعم</td>
            {% else %}
              <td>لا</td>
            {% endif %}
            <td><a href="{{ order.prescriptionUrl }}">رابط الوصفة</a></td>
            <td><a href="/admin/orders/{{ order.id }}" class="button is-info is-light">تحديث</a></td>
            <td><a class="button is-danger is-light">حذف</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <figure class="image">
      <img src="/img/nothingFound.gif">
    </figure>
  {% endif %}
  </section>

{% endblock %}
