{% extends '../layouts/default.njk' %}

{% block css %}

{% endblock %}

{% block content %}
<h1 class="title is-4">إنشاء مستخدم جديد</h1>

<div class="columns">
  <div class="column is-8 is-offset-2">
    <form action="/users/new" method="POST">
      <div class="field">
        <label class="label">الإسم</label>
        <div class="control has-icons-right">
          <input class="input" type="text" name="name" required>
          <span class="icon is-small is-right">
            <ion-icon name="person-outline"></ion-icon>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">رقم الهاتف</label>
        <div class="control has-icons-right">
          <input class="input" type="tel" name="phoneNumber" required>
          <span class="icon is-small is-right">
            <ion-icon name="call-outline"></ion-icon>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">البريد الإلكتروني</label>
        <div class="control has-icons-right has-icons-right">
          <input class="input" type="email" name="email" required>
          <span class="icon is-small is-right">
            <ion-icon name="mail-outline"></ion-icon>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label" for="password">كلمة السر</label>
        <div class="control has-icons-right">
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            required
          >
          <span class="icon is-small is-right">
            <ion-icon name="key-outline"></ion-icon>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">إضافة وصف مختصر</label>
        <div class="control has-icons-right">
        <textarea class="textarea" name="description" rows="5">
        </textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">الدور داخل المنصة</label>
        <div class="control">
          <div class="select">
            <select name="role">
              <option value="SEEKING_HELP">محتاج</option>
              <option value="GIVING_HELP">جمعية</option>
              <option value="DIRECTOR">مدير</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">هل تريد تفعيل هذا المستخدم؟</label>
        <div class="control">
          <label class="radio">
            <input type="radio" name="question" name="verified" value="true" required>
            نعم
          </label>
          <label class="radio">
            <input type="radio" name="question" name="verified" value="false" required>
            لا
          </label>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit">إنشاء</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" type="reset">إلغاء</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
