{% extends '../layouts/default.njk' %}
{% block css %}{% endblock %}
{% block content %}
{% set product = data.product %}
  <form class="needs-validation" action="/products/{{product.id}}" method="POST" enctype="multipart/form-data" novalidate>
    <div class="container pt-5 pb-10">
      <div class="row row-reverse justify-content-center">
        <div class="col-12 col-lg-9 d-flex mb-4 mb-lg-0">
          <div class="card container shadow-sm border-0 px-0">
            <div class="card-body pt-5">
              <h2 class="mb-5">تفاصيل الوقف</h2>
              <!-- User Info -->
              <div class="form-row">
                <div class="col-md-6 mb-3 mb-lg-4">
                  <div class="form-group mb-0">
                    <label class="medium font-weight-semi-bold" for="name">
                      إسم الوقف
                    </label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <div class="input-group-text border-0 z-index-9">
                          <i class="far fa-user font-size-2"></i>
                        </div>
                      </div>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="name"
                        name="name"
                        placeholder="الإسم"
                        value="{{product.name}}"
                        required
                      />
                      <div class="invalid-feedback">
                        رجاء قم بإدخال إسم الوقف
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mb-3 mb-lg-4">
                  <div class="form-group mb-0">
                    <label class="medium font-weight-semi-bold" for="serial">
                      الرقم التسلسلي
                    </label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <div class="input-group-text border-0 z-index-9">
                          <i class="far fa-hashtag font-size-2"></i>
                        </div>
                      </div>
                      <input
                        type="text"
                        class="form-control form-control-sm"
                        id="serial"
                        name="serial"
                        placeholder="T54578f"
                        value="{{ product.serial }}"
                        required
                      />
                      <div class="invalid-feedback">
                        رجاء قم بإدخال الرقم التسلسلي
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-3 mb-lg-4">
                  <label class="medium font-weight-semi-bold" for="type">
                    نوع الوقف
                  </label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <div class="input-group-text border-0 z-index-9">
                        <i class="far fa-location-crosshairs font-size-2"></i>
                      </div>
                    </div>
                    <select class="custom-select bg-transparent shadow-soft pr-5" id="type" name="type" required>
                      <option disabled value="">اختر نوع الوقف</option>
                      <option
                        value="CONDENSER_10L"
                        {{'selected' if product.type == 'CONDENSER_10L'}}
                      >
                        مكثف أكسجين 10 ل
                      </option>
                      <option
                        value="CONDENSER_5L"
                        {{'selected' if product.type == 'CONDENSER_5L'}}
                      >
                        مكثف أكسجين 5 ل
                      </option>
                    </select>
                    <div class="invalid-feedback">يرجى اختيار نوع الوقف</div>
                  </div>
                </div>

                <div class="col-md-6 mb-3 mb-lg-4">
                  <label class="medium font-weight-semi-bold" for="type">
                    حالة الوقف 
                  </label>
                  <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                      <div class="input-group-text border-0 z-index-9">
                        <i class="far fa-location-crosshairs font-size-2"></i>
                      </div>
                    </div>
                    <select class="custom-select bg-transparent shadow-soft pr-5" name="isBroken" required>
                      <option disabled value="">اختر حالة الوقف</option>
                      <option
                        value="false"
                        {{'selected' if not(product.isBroken) }}
                      >
                        في حالة جيدة
                      </option>
                      <option
                        value="true"
                        {{'selected' if product.isBroken }}
                      >
                        معطل
                      </option>
                    </select>
                    <div class="invalid-feedback">يرجى اختيار حالة الوقف</div>
                  </div>
                </div>

                <div class="col-md-6 mb-3 mb-lg-4">
                  <div class="form-group mb-0">
                    <label class="medium font-weight-semi-bold" for="freeDays">مدة الإعارة المجانية بالأيام</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <div class="input-group-text border-0 z-index-9">
                          <i class="far fa-heart-pulse font-size-2"></i>
                        </div>
                      </div>
                      <input
                        id="freeDays"
                        type="number"
                        name="freeDays"
                        class="form-control form-control-sm"
                        min="0"
                        max="60"
                        value="{{ product.freeDays }}"
                        required/>
                      <div class="invalid-feedback">
                        رجاء قم بإدخال مدة الإعارة المجانية
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 mb-3 mb-lg-4">
                  <div class="form-group mb-0">
                    <label class="medium font-weight-semi-bold" for="dayPrice">سعر اليوم الإضافي (بعد المدة المجانية)</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <div class="input-group-text border-0 z-index-9">
                          <i class="far fa-heart-pulse font-size-2"></i>
                        </div>
                      </div>
                      <input
                        id="dayPrice"
                        type="number"
                        name="dayPrice"
                        class="form-control form-control-sm"
                        min="0"
                        max="10000"
                        step="10"
                        value="{{ product.dayPrice }}"
                        required
                      />
                      <div class="invalid-feedback">
                        رجاء قم بإدخال سعر اليوم الإضافي
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="description" class="medium font-weight-semi-bold">
                  وصف الوقف:
                </label>
                <textarea
                  class="form-control"
                  id="description"
                  name="description"
                  rows="5">{{product.description}}</textarea>
                <div class="invalid-feedback">رجاء قم بإدخال وصف للوقف</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-3">
          <div class="card shadow-sm border-0 rounded mb-4">
            <div class="card-body py-4">
              <div class="d-flex justify-content-between">
                <h1 class="font-size-2 mb-0">صور الوقف:</h1>
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  title="يرجى إرفاق صور الوصفة الطبية أو الوثائق التي تثبت حالة المريض، بعد أن نتحقق من الطلب سيتم الموافقة عليه مباشرة.">
                  <i class="fa-regular fa-circle-info"></i>
                </span>
              </div>
              <small class="font-weight-semi-bold"></small>
              <div id="idValidationAttach" class="position-relative dropzone-boxed text-center my-3 py-10">
                <span class="small font-weight-semi-bold text-center">
                  تصفح الملفات الخاصة بك أو اسحبها إلى المربع
                </span>
                <input
                  type="file"
                  class=" file-attachment-btn-label custom-file-input cursor-pointer "
                  id="IDUploader"
                  name="productImage"/>
                <div class="invalid-feedback">رجاء قم برفع صور للوقف</div>
              </div>
            </div>
          </div>
          <button type="submit" class=" btn btn-sm btn-success-g w-100 font-weight-semi-bold text-white ">
            تحديث الوقف
          </button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}