{% extends '../../layouts/profile.njk' %}

{% block css %}

{% endblock %}

{% block content %}

  <h1 class="title is-4">الطلبات</h1>

  {% set orders = data.orders %}

    <section class="section">
    {% if orders.length %}
      <div class="table-container">
        <table class="table is-fullwidth is-hoverable">
          <thead>
            <tr>
              <th>إسم المريض</th>
              <th>العمر</th>
              <th>الأكسجين</th>
              <th>أمراض مزمنة؟</th>
              <th>كورونا؟</th>
              <th>الوصفة الطبية</th>
              <th>حالة الطلب</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.patientName }}</td>
              <td>{{ order.patientAge }}</td>
              <td>{{ order.oxygenRatio }}</td>
              {% if order.hasChronicDesease %}
                <td>نعم</td>
              {% else %}
                <td>لا</td>
              {% endif %}
              {% if order.isCovid%}
                <td>نعم</td>
              {% else %}
                <td>لا</td>
              {% endif %}
              <td>
                <figure class="image is-64x64">
                  <img src="{{ order.prescriptionUrl }}">
                </figure>
              </td>
              <td>
                {{ order.status }}
              </td>

              <td>
                <a href="/profile/orders/{{ order.id }}" class="button is-info is-light">
                  عرض
                </a>
              </td>
                <td>
                  {% if authenticatedUser.isSeekingHelp %}
                    <a class="button is-danger is-light">حذف</a>
                  {% endif %}
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <figure class="image">
        <img src="/img/nothingFound.gif">
      </figure>
    {% endif %}
    </section>

{% endblock %}
