<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>منصة وقف لتسيير العتاد الوقفي</title>
    <link rel="stylesheet" href="/css/bulma-rtl.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/footerStyle.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@6.8.1/swiper-bundle.min.css"
    />
    <link rel="icon" href="/img/logo.png" />
    {% block css %} {% endblock %}
  </head>
  <body>
    <div>
      {% include '../partials/header.njk' %}

      <div class="columns m-0 has-background-light">
        {# side bar column #}
        <div class="column is-3 has-background-grey-light has-text-light">
          <aside class="menu">
            <ul class="menu-list">
              <li><a href="/admin">واجهة الإدارة</a></li>
            </ul>
            <p class="menu-label">إدارة المستخدمين</p>
            <ul class="menu-list">
              <li><a href="/admin/users/new">إنشاء مستخدم جديد</a></li>
              <li><a href="/admin/users">عرض كل المستخدمين</a></li>
            </ul>

            <p class="menu-label">إدارة الأوقاف</p>
            <ul class="menu-list">
              <li><a href="/admin/products">عرض كل الأوقاف</a></li>
            </ul>

            <p class="menu-label">إدارة الطلبات</p>
            <ul class="menu-list">
              <li><a href="/admin/orders">عرض كل الطلبات</a></li>
            </ul>
          </aside>
        </div>

        {# main content column #}
        <main class="column is-9">
          {% include '../partials/flash-messages.njk' %}
          {% block content %} {% endblock %}
        </main>
      </div>
    </div>

    {# it's outside the div with the class "container" so it takes full width #}
    {% include '../partials/footer.njk' %}

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
