<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>منصة وقف لتسيير العتاد الوقفي</title>
    <link rel="stylesheet" href="/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/img/logo.png">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <main>
    {% include '../partials/header.njk' %}
    {% block content %}
    {% endblock %}
    </main>
    {# it's outside the div with the class "container" so it takes full width #}
    {% include '../partials/footer.njk' %} 

    <script src="/js/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
