<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>منصة وقف لتسيير العتاد الوقفي</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footerStyle.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@6.8.1/swiper-bundle.min.css"
    />
    <link rel="icon" href="/img/logo.png">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    {% include '../partials/header.njk' %}

    {# main content column #}
    <main>
      {% include '../partials/flash-messages.njk' %}
      {% block content %}
      {% endblock %}
    </main>

    <script src="/js/index.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
    {% if wilayas and cities %}
    <script>
      window.WILAYAS = JSON.parse('{{ wilayas }}'.replace(/&quot;/g, '"'))
      window.CITIES = JSON.parse('{{ cities }}'.replace(/&quot;/g, '"'))
    </script>
    <script src="/js/algerian-cities.js"></script>
    {% endif %}
  </body>
</html>

