<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>منصة وقف لتسيير العتاد الوقفي</title>
    <link rel="stylesheet" href="/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/logo.png">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="container is-fullhd">
    {% include '../partials/header.njk' %}
    {% block content %}
    {% endblock %}
    </div>

    <script src="/js/index.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
