<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>منصة وقف لتسيير العتاد الوقفي</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="container is-fullhd">
      {% include '../partials/header.njk' %}

      <div class="columns mt-3">
        {# side bar column #}
        <div class="column is-3 has-background-light">
          <aside class="menu">
            <p class="menu-label">
              الحساب الشخصي
            </p>
            <ul class="menu-list">
              <li><a href="/profile/settings">إعدادات الحساب</a></li>
            </ul>

            <p class="menu-label">
              الطلبات
            </p>
            <ul class="menu-list">
              <li><a href="/profile/orders/new">إنشاء طلب جديد</a></li>
              <li><a href="/profile/orders">عرض كل الطلبات</a></li>
            </ul>

            <p class="menu-label">
              الأوقاف
            </p>
            <ul class="menu-list">
              <li><a href="/profile/products/new">إنشاء وقف جديد</a></li>
              <li><a href="/profile/products">عرض كل الأوقاف</a></li>
            </ul>
          </aside>
        </div>

        {# main content column #}
        <main class="column is-6 is-offset-1">
          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>

