{% extends '../../layouts/profile.njk' %}

{% block css %}

{% endblock %}

{% block content %}

  <h1 class="title is-3">كل الأوقاف</h1>

  {% set products = data.products %}
  
  {% if products.length %}
  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <th>الإسم</th>
        <th>النوع</th>
        <th>الرقم</th>
        <th>الوصف</th>
        <th>الصورة</th>
        <th></th>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.type }}</td>
            <td>{{ product.serial }}</td>
            <td>{{ product.description }}</td>
            <td>
              <figure class="image is-128x128">
                <img src="{{ product.imageUrl }}">
              </figure>
            </td>
            <td>
              <a class="button is-medium">
              <span class="icon is-small is-right" style="color: red;">
                <ion-icon name="trash-outline"></ion-icon>
              </span>
              </a>
              <a class="button is-medium">
              <span class="icon is-small is-right">
                <ion-icon name="create-outline"></ion-icon>
              </span>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous">الصفحة السابقة</a>
    <a class="pagination-next">الصفحة التالية</a>
    <ul class="pagination-list">
      <li>
        <a class="pagination-link" aria-label="Goto page 1">1</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 45">45</a>
      </li>
      <li>
        <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 47">47</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 86">86</a>
      </li>
    </ul>
  </nav>
  {% else %}
    <section class="section">
      <figure class="image">
        <img src="/img/nothingFound.gif">
      </figure>
    </section>
  {% endif %}

{% endblock %}
