{% extends '../../layouts/profile.njk' %}

{% block css %}

{% endblock %}

{% block content %}
  <h1 class="title is-3">كل الأوقاف</h1>

  <table class="table">
    <thead>
    <th>الإسم</th>
    <th>النوع</th>
    <th>الرقم</th>
    <th>الوصف</th>
    <th>الصورة</th>
    <th></th>
    </thead>
    <tbody>
    <tr>
      <td>مكثف أكسيجين</td>
      <td>مكثف أكسيجين</td>
      <td>AH203035</td>
      <td>سعة 10 لتر يحتوى على مخرجين</td>
      <td>
        <figure class="image is-128x128">
          <img src="https://versions.bulma.io/0.7.0/images/placeholders/128x128.png">
        </figure>
      </td>
      <td>
        <a class="button is-medium">
        <span class="icon is-small is-right" style="color: red;">
          <ion-icon name="trash-outline"></ion-icon>
        </span>
        </a>
        <a class="button is-medium">
        <span class="icon is-small is-right">
          <ion-icon name="create-outline"></ion-icon>
        </span>
        </a>
      </td>
    </tr>
    <tr>
      <td>مكثف أكسيجين</td>
      <td>مكثف أكسيجين</td>
      <td>AH203035</td>
      <td>سعة 10 لتر يحتوى على مخرجين</td>
      <td>
        <figure class="image is-128x128">
          <img src="https://versions.bulma.io/0.7.0/images/placeholders/128x128.png">
        </figure>
      </td>
      <td>
        <a class="button is-medium">
        <span class="icon is-small is-right" style="color: red;">
          <ion-icon name="trash-outline"></ion-icon>
        </span>
        </a>
        <a class="button is-medium">
        <span class="icon is-small is-right">
          <ion-icon name="create-outline"></ion-icon>
        </span>
        </a>
      </td>
    </tr>
    <tr>
      <td>مكثف أكسيجين</td>
      <td>مكثف أكسيجين</td>
      <td>AH203035</td>
      <td>سعة 10 لتر يحتوى على مخرجين</td>
      <td>
        <figure class="image is-128x128">
          <img src="https://versions.bulma.io/0.7.0/images/placeholders/128x128.png">
        </figure>
      </td>
      <td>
        <a class="button is-medium">
        <span class="icon is-small is-right" style="color: red;">
          <ion-icon name="trash-outline"></ion-icon>
        </span>
        </a>
        <a class="button is-medium">
        <span class="icon is-small is-right">
          <ion-icon name="create-outline"></ion-icon>
        </span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous">الصفحة السابقة</a>
    <a class="pagination-next">الصفحة التالية</a>
    <ul class="pagination-list">
      <li>
        <a class="pagination-link" aria-label="Goto page 1">1</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 45">45</a>
      </li>
      <li>
        <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 47">47</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 86">86</a>
      </li>
    </ul>
  </nav>
{% endblock %}
