@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('/font/Droid-Arabic-Kufi.ttf') format('TrueType');
}

:root {
  --color-primary: #0084ff;
  --color-body: #444444;
  --border-radius: 0.2rem;
  --font-primary: 'Droid Arabic Kufi';
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

html,
body {
  color: var(--color-body);
  font-family: var(--font-primary);
  direction: rtl;
}
