{% extends './layouts/default.njk' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container pt-5 pb-10">
  <div
    class="
      bg-cover
      vh-50
      rounded-lg
      position-relative
      d-flex
      justify-content-center
      align-items-center
    "
    style="background: url('/img/misc/banner-1.jpg')"
  >
    <div class="mask-2 bg-dark-f op-60"></div>
    <div class="text-center z-index-1050">
      <h1 class="text-white font-weight-bold mb-0">حول المشروع</h1>
    </div>
  </div>
  <div class="sp-50">
    <h2 class="font-weight-bold mb-3">من نحن</h2>
    <p class="mb-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero totam
      sunt in praesentium nobis provident veritatis alias autem
      reprehenderit harum qui et quam quis magnam illo omnis ducimus
      ratione, eius culpa quaerat, ullam voluptatum quidem repellat! Minima
      quos, non saepe odit inventore soluta illo itaque repellendus ipsam
      molestias, quis repudiandae exercitationem. Delectus quaerat quod non
      amet debitis, magni quo dicta ab accusantium fuga doloremque est
      voluptate expedita magnam. Error quo deserunt deleniti unde porro
      molestiae, repellendus nulla nemo debitis nobis cum dignissimos?
      Exercitationem veritatis commodi nisi consequatur quam eum sint
      facilis dolorum nihil velit, voluptates aut maxime iste corrupti
      labore? Maiores aut dolore, dignissimos necessitatibus quidem
      laboriosam explicabo unde doloremque impedit, facere quibusdam
      assumenda blanditiis animi cupiditate neque mollitia! Quos tempora
      nihil laboriosam eius, obcaecati esse, impedit distinctio atque quis,
      nesciunt fugit placeat ipsa? Sed, voluptas, sunt dolore aut, est
      cupiditate ipsa sit porro quas alias obcaecati. Sunt quae, maxime
      sapiente earum iure nulla atque consectetur placeat tempore debitis.
      Provident reprehenderit soluta, libero consequuntur fuga cumque autem,
      eaque dolorem illum recusandae exercitationem et tenetur ad, ipsum
      sapiente pariatur inventore nam iusto? Nihil dicta quae quidem
      necessitatibus a neque hic, eligendi consectetur provident voluptas
      harum expedita animi, quaerat, ab qui tempore!
    </p>
  </div>
</div>
{% endblock %}
