{% extends './layouts/default.njk' %}
{% block css %}
{% endblock %}

{% block content %}

  {% include './partials/flash-messages.njk' %}

  <div
    class="container-fluid bg-cover mt-n5"
    style="background: url('/img/misc/corner-2.png') top right no-repeat"
  >
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="d-block w-100">
        <div class="w-md-35 text-center mx-auto">
          <img
            src="/img/logo/logo_white.png"
            class="u-lg-avatar mb-3"
            alt="Logo"
          />
          <h2 class="font-size-4 mb-1">منصة وقف</h2>
          <p class="font-size-1 font-weight-semi-bold mb-5">
            إعادة تعيين كلمة السر
          </p>
        </div>

        <form class="needs-validation w-90 w-md-35 mx-auto" novalidate>
          <div class="form-group position-relative">
            <label class="medium font-weight-semi-bold" for="uRecPw"
              >كلمة السر الجديدة</label
            >
            <div class="input-group input-group-sm position-relative">
              <div class="input-group-prepend">
                <div class="input-group-text border-0 z-index-9 border-0">
                  <i class="far fa-lock font-size-2"></i>
                </div>
              </div>
              <input
                type="password"
                class="form-control form-control-sm"
                id="uRecPw"
                placeholder="****************"
                required
              />
              <div class="position-absolute left-0 z-index-9 toggle-password">
                <span class="far fa-eye p-3 cursor-pointer op-50"></span>
              </div>
              <div class="invalid-feedback">
                رجاءا قم بإدخال كلمة السر الجديدة
              </div>
            </div>
          </div>
          <div class="form-group position-relative mb-5">
            <label class="medium font-weight-semi-bold" for="uLogPass"
              >إعادة كلمة السر الجديدة</label
            >
            <div class="input-group input-group-sm position-relative">
              <div class="input-group-prepend">
                <div class="input-group-text border-0 z-index-9 border-0">
                  <i class="far fa-redo font-size-2"></i>
                </div>
              </div>
              <input
                type="password"
                class="form-control form-control-sm"
                id="uLogPass"
                placeholder="****************"
                required
              />
              <div class="position-absolute left-0 z-index-9 toggle-password">
                <span class="far fa-eye p-3 cursor-pointer op-50"></span>
              </div>
              <div class="invalid-feedback">
                رجاءا قم بإعادة إدخال كلمة السر الجديدة
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="
              btn btn-sm btn-block btn-success-g
              font-weight-semi-bold
              text-white
            "
          >
            إعادة تعيين
          </button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}