{% extends './layouts/default.njk' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  
  {% include './partials/flash-messages.njk' %}

  <div class="columns">
    <div class="column my-6 is-8 is-offset-2">

      <form action="/signup" method="POST" class="box is-full">
        <div class="field">
          <label class="label" for="displayName">الإسم الكامل</label>
          <div class="control has-icons-right">
            <input
              class="input"
              type="text"
              id="displayName"
              name="displayName"
              required
            >
            <span class="icon is-small is-right">
              <ion-icon name="person-outline"></ion-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="email">البريد الإلكتروني</label>
          <div class="control has-icons-right">
            <input class="input" type="email" id="email" name="email" required>
            <span class="icon is-small is-right">
              <ion-icon name="mail-outline"></ion-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="phoneNumber">رقم الهاتف</label>
          <div class="control has-icons-right">
            <input
              class="input"
              type="tel"
              id="phoneNumber"
              name="phoneNumber"
              required
            >
            <span class="icon is-small is-right">
              <ion-icon name="call-outline"></ion-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="password">كلمة السر</label>
          <div class="control has-icons-right">
            <input
              class="input"
              type="password"
              id="password"
              name="password"
              required
            >
            <span class="icon is-small is-right">
              <ion-icon name="key-outline"></ion-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="role">كيف تريد استعمال المنصة؟</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="role" value="GIVING_HELP" required>
              أريد المساعدة
            </label>

            <label class="radio">
              <input type="radio" name="role" value="SEEKING_HELP" required>
              أحتاج المساعدة
            </label>
          </div>
        </div>

        <button type="submit" class="button is-primary">تسجيل</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}