{% extends './layouts/default.njk' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column my-6 is-three-quarters is-centered">
      <form class="box is-full" method="POST">

        <div class="field">
          <label class="label" for="displayName">الإسم الكامل</label>
          <div class="control has-icons-right">
            <input class="input" type="text" id="displayName" name="displayName">
            <span class="icon is-small is-right">
              <ion-icon name="person-outline"></ion-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="email">البريد الإلكتروني</label>
          <div class="control has-icons-right">
            <input class="input" type="email" id="email" name="email">
            <span class="icon is-small is-right">
              <ion-icon name="mail-outline"></ion-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="phoneNumber">رقم الهاتف</label>
          <div class="control has-icons-right">
            <input class="input" type="tel" id="phoneNumber" name="phoneNumber">
            <span class="icon is-small is-right">
              <ion-icon name="call-outline"></ion-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="password">كلمة السر</label>
          <div class="control has-icons-right">
            <input class="input" type="password" id="password" name="password">
            <span class="icon is-small is-right">
              <ion-icon name="key-outline"></ion-icon>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label" for="usage">كيف تريد استعمال المنصة؟</label>
          <div class="control">
            <label class="radio">
              <input type="radio" name="usage" value="provideHelp">
              أريد المساعدة
            </label>

            <label class="radio">
              <input type="radio" name="usage" value="needHelp">
              أحتاج المساعدة
            </label>
          </div>
        </div>

        <button class="button is-primary">تسجيل</button>
      </form>
    </div>
  </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}