{% extends './layouts/default.njk' %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  
  {% include './partials/flash-messages.njk' %}

  <!-- User Regestration Email -->
  <div class=".container-md mt-5 mb-5" >
    <div class="w-90 w-md-35 mx-auto">
      <div class="text-center">
      <img
        src="/img/logo/logo_white.png"
        class="u-lg-avatar mb-3"
        alt="Logo"
      />
      <h2 class="font-size-4 mb-1">منصة وقف</h2>
      <p class="small font-weight-semi-bold mb-2">
        تسجيل الدخول باستخدام البريد الإلكتروني
      </p>
    </div>
    
    <form class="mx-auto" action="/signup" method="POST">
      <div class="form-group mb-4">
        <label class="medium font-weight-semi-bold" for="displayName"
          >الإسم</label
        >
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <div class="input-group-text border-0 z-index-9 border-0">
              <i class="far fa-envelope font-size-2"></i>
            </div>
          </div>
          <input
            id="displayName"
            name="displayName"
            class="form-control form-control-sm"
            placeholder="john Deo"
            required
          />
        </div>
      </div>
      <div class="form-group mb-4">
        <label class="medium font-weight-semi-bold" for="email"
          >البريد الإلكتروني</label
        >
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <div class="input-group-text border-0 z-index-9 border-0">
              <i class="far fa-envelope font-size-2"></i>
            </div>
          </div>
          <input
            type="email"
            class="form-control form-control-sm"
            id="email"
            name="email"
            placeholder="john@example.com"
            required
          />
        </div>
      </div>
      <div class="form-group mb-4">
        <label class="medium font-weight-semi-bold" for="phoneNumber">
          رقم الهاتف
        </label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <div class="input-group-text border-0 z-index-9 border-0">
              <i class="far fa-envelope font-size-2"></i>
            </div>
          </div>
          <input
            type="tel"
            class="form-control form-control-sm"
            id="phoneNumber"
            name="phoneNumber"
            placeholder="0555 55 55 55"
            required
          />
        </div>
      </div>

      <div class="form-group position-relative mb-4">
        <label class="medium font-weight-semi-bold" for="passwordHash">
          كلمة السر
        </label>
        <div class="input-group input-group-sm position-relative">
          <div class="input-group-prepend">
            <div class="input-group-text border-0 z-index-9 border-0">
              <i class="far fa-lock font-size-2"></i>
            </div>
          </div>
          <input
            type="password"
            class="form-control form-control-sm"
            id="passwordHash"
            name="password"
            placeholder="****************"
            required
          />
          <div class="position-absolute left-0 z-index-9 toggle-password">
            <span class="far fa-eye p-3 cursor-pointer op-50"></span>
          </div>
        </div>
      </div>

      <div
        class="custom-control custom-radio custom-control-inline mb-3"
      >
        <input
          type="radio"
          id="SEEKING_HELP"
          name="role"
          value="SEEKING_HELP"
          class="custom-control-input"
          required
        />
        <label class="custom-control-label" for="SEEKING_HELP">
          محتاج
        </label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="GIVING_HELP"
          name="role"
          value="GIVING_HELP"
          class="custom-control-input"
          required
        />
        <label class="custom-control-label" for="GIVING_HELP">
          جمعية
        </label>
      </div>

      <button
        type="submit"
        class="
          btn btn-sm btn-block btn-success-g
          text-white
          medium
          font-weight-semi-bold
          border-0
          mb-2
        "
      >
        تسجيل الدخول
      </button>
    </form>
  </div>

{% endblock %}